<div class="modal fade"
     id="change-passwd-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="change-passwd-modal-label"
     aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="change-passwd-modal-label">Submit link</h4>
            </div><!-- /.modal-header -->
            <div class="modal-body">
                <form action="{{ url_for('webui.change_password', redir=page_name) }}" id="change-passwd-form" method="POST">
                    {{ chpasswd_form.csrf_token() }}
                    <div class="form-group">
                        <label for="old-password">Current password:</label>
                        {{ chpasswd_form.old(class='form-control', id='old-password') }}
                    </div>
                    <div class="form-group">
                        <label for="new-password">New password:</label>
                        {{ chpasswd_form.new(class='form-control', id='new-password') }}
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirm password:</label>
                        {{ chpasswd_form.confirm(class='form-control', id='confirm-password') }}
                    </div>
                </form>
            </div><!-- /.modal-body -->
            <div class="modal-footer">
                <button class="btn btn-success" id="password-save">
                    <span class="glyphicon glyphicon-ok-circle"></span> Save
                </button>
                <button class="btn btn-danger" data-dismiss="modal" id="password-cancel">
                    <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                </button>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal.fade -->
