{% from "bootstrap/wtf.html" import quick_form %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="link-modal-label">{{ link.title }}</h4>
</div>
<div class="modal-body">
  {{ quick_form(edit_link_form,
                form_type='horizontal',
                id=edit_link_form.name + '-form-' + (link.id|string),
                action=url_for(edit_link_form.endpoint, linkid=link.id, redir=page_name)
  ) }}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" id="edit-link-cancel-{{ link.id }}">Cancel</button>
  <button type="button" class="btn btn-primary" id="edit-link-save-{{ link.id }}">Save changes</button>
</div>1
