<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-bar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">WaikUp</div>
        </div><!-- /.navbar-header -->
        <div class="navbar-collapse collapse" id="nav-bar">
            {% if user %}
                <ul class="nav navbar-nav">
                    <li class="nav-divider"></li>
                    <li{% if page_name == 'index' %} class="active"{% endif %}><a href="{{ url_for('webui.index') }}">
                        <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Links
                    </a></li>
                    <li{% if page_name == 'archives' %} class="active"{% endif %}><a href="{{ url_for('webui.archives') }}">
                        <span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;Archives
                    </a></li>
                    {% if user.admin %}
                        <li{% if page_name == 'email_mgmt' %} class="active"{% endif %}><a href="{{ url_for('webui.email_mgmt') }}">
                            <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Mailing
                        </a></li>
                    {% endif %}
                    <li class="nav-divider"></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <button class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#new-link-modal"
                    >
                        <span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;Submit link
                    </button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            &nbsp;&nbsp;{{ user.first_name }} {{ user.last_name }}&nbsp;<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#profile-modal">
                                <span class="glyphicon glyphicon-cog"></span> Profile
                            </a></li>
                            <li><a href="#" data-toggle="modal" data-target="#change-passwd-modal">
                                <span class="glyphicon glyphicon-lock"></span> Change password
                            </a></li>
                            {% if user.admin %}
                                <li><a href="{{ url_for('admin.index') }}">
                                    <span class="glyphicon glyphicon-flash"></span> Database administration
                                </a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{{ url_for('auth.logout') }}">
                                <span class="glyphicon glyphicon-off"></span> Logout
                            </a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse.collapse -->
    </div><!-- /.container -->
</div><!-- /.navbar.navbar-inverse.navbar-fixed-top -->

{% include "new_link.html" %}
{% include "user_profile.html" %}
{% include "change_password.html" %}
