{% extends "base.html" %}
{% block content %}
    <a href="#"><span class="glyphicon glyphicon-zoom-in expand-all"></span></a>
    <a href="#"><span class="glyphicon glyphicon-zoom-out collapse-all"></span></a>
    <table id="links-list" class="table table-hover table-responsive table-bordered">
    <thead>
        <tr>
            <th>URL</th>
            <th>Title</th>
            <th>Submission date</th>
        </tr>
    </thead>
    <tbody>
        {% for link in links %}
            <tr>
                <td><a id="link{{ loop.index }}"
                       class="collapser"
                       data-toggle="collapse"
                       data-target="link{{ loop.index }}"
                    >
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>&nbsp;&nbsp;<a href="{{ link.url }}">{{ link.url }}
                </a></td>
                <td>{{ link.title }}</td>
                <td>{{ link.submitted }}</td>
            </tr>
            <tr>
                <td id="collapsible-td" colspan="3" style="padding: 0px;">
                    <div class="collapse out" id="link{{ loop.index }}">{{ link.description }}</div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="#"><span class="glyphicon glyphicon-zoom-in expand-all"></span></a>
    <a href="#"><span class="glyphicon glyphicon-zoom-out collapse-all"></span></a>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $('.expand-all').click(function() {
            $('.collapse.out').removeClass('out').addClass('in');
        });
        $('.collapse-all').click(function() {
            $('.collapse.in').removeClass('in').addClass('out');
        });
    </script>
{% endblock %}
