{% extends "base.html" %}
{% block title %}{{ page_name|title }}{% endblock %}
{% block content %}
    <a href="#" title="expand all"><span class="glyphicon glyphicon-zoom-in expand-all"></span></a>
    <a href="#" title="collapse all"><span class="glyphicon glyphicon-zoom-out collapse-all"></span></a>
    <table id="links-list" class="table table-hover table-responsive table-bordered">
    <thead>
        <tr>
            <th>Link</th>
            <th>Category</th>
            <th>Submission date</th>
            <th>Submitter</th>
        </tr>
    </thead>
    <tbody>
        {% for link in links %}
            <tr>
                <td>
                    <a id="link{{ link.id }}"
                       class="collapser"
                       data-toggle="collapse"
                       data-target="link{{ link.id }}"
                       href="#"
                       title="show description">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>&nbsp;
                    <a class="toggle-archive link-post-action"
                       id="toggle-link-{{ link.id }}"
                       href="#"
                       title="toggle archiving">
                        {% if page_name == 'index' %}
                            <span class="glyphicon glyphicon-folder-close"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-folder-open"></span>
                        {% endif %}
                    </a>&nbsp;
                    <form class="hidden" method="POST"
                          id="toggle-form-{{ link.id }}"
                          action="{{ url_for('webui.'+page_name, toggle=link.id) }}">
                      {{ delete_form.csrf_token }}
                      {{ delete_form.link_id(value=link.id) }}
                    </form>
                    {% if user.admin or link.author.username == user.username %}
                        <a data-toggle="modal"
                           data-target="#edit-link-modal-{{ link.id }}"
                           href="{{ url_for('webui.edit_link', linkid=link.id, redir=page_name) }}"
                           title="edit link">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="#"
                           class="delete-link link-post-action"
                           id="delete-link-{{ link.id }}"
                           title="delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <form class="hidden" method="POST"
                              id="delete-form-{{ link.id }}"
                              action="{{ url_for('webui.delete_link', redir=page_name, linkid=link.id) }}">
                          {{ delete_form.csrf_token }}
                          {{ delete_form.link_id(value=link.id) }}
                        </form>
                    {% endif %}
                    &nbsp;&nbsp;<a href="{{ link.url }}" target="_blank">{{ link.title }}
                </a></td>
                <td>{{ link.category.name }}</td>
                <td>{{ link.submitted.strftime(config.DATETIME_FORMAT) }}</td>
                <td>{{ link.author.full_name }}</td>
            </tr>
            <tr>
                <td id="collapsible-td" colspan="4">
                    <div class="collapse out" id="link{{ link.id }}">{{ link.description }}</div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% if links.pages > 1 and page_name in ['index', 'archives'] %}
    <div class="row col-md-4 col-md-offset-4">
        <ul class="pagination" style="text-align: center">
            <li{% if not links.has_previous %} class="disabled"{% endif %}><a href="{{ url_for('webui.'+page_name, page=1) }}">&laquo;</a></li>
            {% set end_range = links.pages + 1 %}
            {% for page_num in range(1, end_range) %}
            <li{% if links.page == page_num %} class="active"{% endif %}>
                <a href="{{ url_for('webui.'+page_name, page=page_num) }}">{{ page_num }}{% if links.page == page_num %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            {% endfor %}
            <li{% if not links.has_next %} class="disabled" {% endif %}><a href="{{ url_for('webui.'+page_name, page=links.pages) }}">&raquo;</a></li>
        </ul>
    </div>
    {% endif %}
  {% for link in links %}
    <div class="modal fade edit-link-modal"
     id="edit-link-modal-{{ link.id }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="link-modal-label"
     aria-hidden="true">
    </div>
  {% endfor %}
{% endblock %}
