{% extends "base.html" %}
{% block content %}
    <a href="#" title="expand all"><span class="glyphicon glyphicon-zoom-in expand-all"></span></a>
    <a href="#" title="collapse all"><span class="glyphicon glyphicon-zoom-out collapse-all"></span></a>
    <table id="links-list" class="table table-hover table-responsive table-bordered">
    <thead>
        <tr>
            <th>URL</th>
            <th>Title</th>
            <th>Submission date</th>
            <th>Submitter</th>
        </tr>
    </thead>
    <tbody>
        {% for link in links %}
            <tr>
                <td>
                    <a id="link{{ link.id }}" class="collapser" data-toggle="collapse" data-target="link{{ link.id }}" href="#">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>&nbsp;
                    <a class="toggle-archive"
                       id="link{{ link.id }}"
                       {# TODO: find a way to use POST requests #}
                       href="{{ url_for('webui.'+page_name, toggle=link.id) }}">
                        {% if page_name == 'index' %}
                            <span class="glyphicon glyphicon-folder-close"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-folder-open"></span>
                        {% endif %}
                    </a>
                    &nbsp;&nbsp;<a href="{{ link.url }}">{{ link.url }}
                </a></td>
                <td>{{ link.title }}</td>
                <td>{{ link.submitted }}</td>
                <td>{{ link.author.first_name }} {{ link.author.last_name }}</td>
            </tr>
            <tr>
                <td id="collapsible-td" colspan="4">
                    <div class="collapse out" id="link{{ link.id }}">{{ link.description }}</div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="#" title="expand all"><span class="glyphicon glyphicon-zoom-in expand-all"></span></a>
    <a href="#" title="collapse all"><span class="glyphicon glyphicon-zoom-out collapse-all"></span></a>
{% endblock %}
