{% extends "base.html" %}
{% block title %}{{ page_name|title }}{% endblock %}
{% block content %}
    <a href="#" title="expand all"><span class="glyphicon glyphicon-zoom-in expand-all"></span></a>
    <a href="#" title="collapse all"><span class="glyphicon glyphicon-zoom-out collapse-all"></span></a>
    <table id="links-list" class="table table-hover table-responsive table-bordered">
    <thead>
        <tr>
            <th>Link</th>
            <th>Submission date</th>
            <th>Submitter</th>
        </tr>
    </thead>
    <tbody>
        {% for link in links %}
            <tr>
                <td>
                    <a id="link{{ link.id }}"
                       class="collapser link-action"
                       data-toggle="collapse"
                       data-target="link{{ link.id }}"
                       href="#"
                       title="show description">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>&nbsp;
                    <a class="toggle-archive link-action"
                       id="{{ link.url }}"
                       href="{{ url_for('webui.'+page_name, toggle=link.id) }}"
                       title="toggle archiving">
                        {% if page_name == 'index' %}
                            <span class="glyphicon glyphicon-folder-close"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-folder-open"></span>
                        {% endif %}
                    </a>&nbsp;
                    {% if user.admin %}
                        <a href="{{ url_for('webui.delete_link', redir=page_name, linkid=link.id) }}"
                           class="delete-link link-action"
                           id="{{ link.url }}"
                           title="delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    {% endif %}
                    &nbsp;&nbsp;<a href="{{ link.url }}" target="_blank">{{ link.title }}
                </a></td>
                <td>{{ link.submitted.strftime(config.DATETIME_FORMAT) }}</td>
                <td>{{ link.author.first_name }} {{ link.author.last_name }}</td>
            </tr>
            <tr>
                <td id="collapsible-td" colspan="4">
                    <div class="collapse out" id="link{{ link.id }}">{{ link.description }}</div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="#" title="expand all"><span class="glyphicon glyphicon-zoom-in expand-all"></span></a>
    <a href="#" title="collapse all"><span class="glyphicon glyphicon-zoom-out collapse-all"></span></a>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
    $('.link-action').each(function(index, item) {
        $(item).click(function() {
            var linkURL = $(this).attr('id');
            var result = false;
            if ($(this).hasClass('toggle-archive')) {
                result = confirm("You are about to toggle archiving on a link:\n"+linkURL+"\nAre you sure?");
            } else if ($(this).hasClass('delete-link')) {
                result = confirm("You are about to delete a link:\n"+linkURL+"\nAre you sure?");
            }
            return result;
        });
    });
    </script>
{% endblock %}
