{% extends "base.html" %}

{% block title %}{{ page_name|title }}{% endblock %}

{% block container %}
  &nbsp;<a href="#" title="expand all"><span class="glyphicon glyphicon-zoom-in expand-all"></span></a>
  &nbsp;<a href="#" title="collapse all"><span class="glyphicon glyphicon-zoom-out collapse-all"></span></a>
  <div class="table-responsive">
  <table id="links-list" class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>Link</th>
      <th>Category</th>
      <th>Submission date</th>
      <th>Submitter</th>
    </tr>
    </thead>
    <tbody>
    {% for link in links %}
      <tr>
        <td>
          <a id="link{{ link.id }}"
             class="collapser btn btn-default btn-xs link-action"
             data-toggle="collapse"
             data-target="link{{ link.id }}"
             href="#"
             title="show description">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>&nbsp;
          <a class="toggle-archive link-post-action btn btn-default btn-xs link-action"
             id="toggle-link-{{ link.id }}"
             href="#"
             title="toggle archiving">
            {% if page_name == 'index' %}
              <span class="glyphicon glyphicon-folder-close"></span>
            {% else %}
              <span class="glyphicon glyphicon-folder-open"></span>
            {% endif %}
          </a>&nbsp;
          <form class="hidden" method="POST"
                id="toggle-form-{{ link.id }}"
                action="{{ url_for('main.'+page_name) }}">
            {{ delete_form.csrf_token() }}
            {{ delete_form.link_id(value=link.id) }}
          </form>
          {% if current_user.is_admin or link.author.username == current_user.username %}
            <a data-toggle="modal"
               class="btn btn-default btn-xs link-action"
               data-target="#edit-link-modal-{{ link.id }}"
               href="{{ url_for('main.edit_link', linkid=link.id, redir=page_name) }}"
               title="edit link">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>&nbsp;
            <a href="#"
               class="delete-link link-post-action btn btn-danger btn-xs link-action"
               id="delete-link-{{ link.id }}"
               title="delete">
              <span class="glyphicon glyphicon-trash"></span>
            </a>&nbsp;
            <form class="hidden" method="POST"
                  id="delete-form-{{ link.id }}"
                  action="{{ url_for('main.delete_link', redir=page_name, linkid=link.id) }}">
              {{ delete_form.csrf_token() }}
              {{ delete_form.link_id(value=link.id) }}
            </form>
          {% endif %}
          &nbsp;&nbsp;<a href="{{ link.url }}" target="_blank">{{ link.title }}
        </a></td>
        <td>{{ link.category.name }}</td>
        <td>{{ link.submitted.strftime(config.DATETIME_FORMAT) }}</td>
        <td>{{ link.author.full_name }}</td>
      </tr>
      <tr>
        <td id="collapsible-td" colspan="4">
          <div class="collapse out" id="link{{ link.id }}">{{ link.description }}</div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
  {% if links.pages > 1 %}
    <div class="row col-md-4 col-md-offset-4">
      <ul class="pagination" style="text-align: center">
        {% set previous = links.page - 1 %}
        {% set next = links.page + 1 %}
        <li{% if not links.has_previous %} class="disabled"{% endif %}><a
            href="{{ url_for('main.'+page_name, page=previous) }}"><strong>&laquo;</strong></a></li>
        <li class="disabled "><a href="#">{{ links.page }} / {{ links.pages }}</a></li>
        <li{% if not links.has_next %} class="disabled" {% endif %}><a
            href="{{ url_for('main.'+page_name, page=next) }}"><strong>&raquo;</strong></a></li>
      </ul>
    </div>
  {% endif %}
  {% for link in links %}
    <div class="modal fade edit-link-modal"
         id="edit-link-modal-{{ link.id }}"
         tabindex="-1"
         role="dialog"
         aria-labelledby="link-modal-label"
         aria-hidden="true">
      <div class="modal-dialog" id="edit-link-dialog-{{ link.id }}">
        <div class="modal-content">
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
