{% from "bootstrap/wtf.html" import quick_form %}

{% if current_user.is_authenticated %}
  <div class="modal fade"
       id="new-link-modal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="new-link-modal-label"
       aria-hidden="true"
      >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="new-link-modal-label">Submit link</h4>
        </div>
        <!-- /.modal-header -->
        <div class="modal-body">
          {{ quick_form(new_link_form, form_type='horizontal', id='new-link-form', action=url_for(new_link_form.endpoint)) }}
        </div>
        <!-- /.modal-body -->
        <div class="modal-footer">
          <button class="btn btn-success" id="new-link-save">
            <span class="glyphicon glyphicon-ok-circle"></span> Save
          </button>
          <button class="btn btn-danger" data-dismiss="modal" id="new-link-cancel">
            <span class="glyphicon glyphicon-remove-circle"></span> Cancel
          </button>
        </div>
        <!-- /.modal-footer -->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal.fade -->
{% endif %}
