{% extends 'base.html' %}
{% block title %}{{ page_name|title }}{% endblock %}
{% block extra_js %}
  <script type="text/javascript" src="{{ url_for('static', filename="js/Chart.min.js") }}"></script>
  <script type="text/javascript">
    var chartHeight = window.innerHeight - (window.innerHeight * 50 / 100);
    var chartWidth = window.innerWidth - (window.innerWidth * 20 / 100);
    $('canvas').attr('height', chartHeight + 'px').attr('width', chartWidth + 'px');
    function createBarChart(canvasID) {
      function innerCreateBarChart(data) {
        var ctx = document.getElementById(canvasID).getContext('2d');
        var chartData = {
          labels: [],
          datasets: [
            {
              fillColor: "rgba(220,220,220,0.5)",
              strokeColor: "rgba(220,220,220,1)",
              data: []
            }
          ]
        };
        var submitters = (typeof data['submitters'] === "undefined") ? [] : data['submitters'];
        for (var i = 0; i <= submitters.length - 1; i++) {
          var value = submitters[i];
          chartData.labels.push(value[0] + ' (' + value[1] + ')');
          chartData.datasets[0].data.push(value[1]);
        }
        new Chart(ctx).Bar(chartData);
      }

      return innerCreateBarChart;
    }
    api = WaikUp('/api', '{{ internal_api_token }}');
    api.topFiveSubmitters(createBarChart("top-five-submitters"));
  </script>
{% endblock %}
{% block content %}
  <h3>Top 5 submitters</h3>
  <canvas id="top-five-submitters" width="0px" height="0px"></canvas>
  <canvas id="top-five-submitters" width="0px" height="0px"></canvas>
{% endblock %}
