{% if current_user.is_authenticated %}
  <div class="modal fade"
       id="profile-modal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="profile-modal-label"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="profile-modal-label">Your profile</h4>
        </div>
        <!-- /.modal-header -->
        <div class="modal-body">
          <table class="table table-hover table-responsive" id="user-profile">
            <tbody>
            <tr>
              <td><strong>Username:</strong></td>
              <td>{{ current_user.username }}</td>
            </tr>
            <tr>
              <td><strong>First name:</strong></td>
              <td>{{ current_user.first_name }}</td>
            </tr>
            <tr>
              <td><strong>Last name:</strong></td>
              <td>{{ current_user.last_name }}</td>
            </tr>
            <tr>
              <td><strong>Email:</strong></td>
              <td>{{ current_user.email }}</td>
            </tr>
            <tr>
              <td><strong>Admin:</strong></td>
              <td>{% if current_user.is_admin %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
              <td><strong>API Key</strong></td>
              <td>
                {{ current_user.get_auth_token() }}&nbsp;
                <button
                    class="btn btn-default" data-clipboard-text="{{ current_user.get_auth_token() }}"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Copy to clipboard"
                    data-clipboard-btn>
                  <span class="glyphicon glyphicon-copy"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.modal-body -->
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove-circle"></span> Close
          </button>
        </div>
        <!-- /.modal-footer -->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal.fade -->
{% endif %}
