{% if user %}
<div class="modal fade"
     id="profile-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="profile-modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new-link-modal-label">Your profile</h4>
            </div><!-- /.modal-header -->
            <div class="modal-body">
                <table class="table table-hover table-responsive" id="user-profile">
                    <tbody>
                    <tr>
                        <td><strong>Username:</strong></td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td><strong>First name:</strong></td>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Last name:</strong></td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Email:</strong></td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td><strong>Admin:</strong></td>
                        <td>{% if user.admin %}Yes{% else %}No{% endif %}</td>
                    </tr>
{#                    <tr>#}
{#                        <td><strong>API token:</strong></td>#}
{#                        <td>#}
{#                            {%- if user.token.count() != 0 -%}#}
{#                                {{ user.token.get().token }}&nbsp;&nbsp;#}
{#                                <a href="{{ url_for('webui.token', redir=page_name, action='generate') }}">#}
{#                                    <span class="glyphicon glyphicon-refresh"></span>#}
{#                                </a>#}
{#                                <a href="{{ url_for('webui.token', redir=page_name, action='delete') }}">#}
{#                                    <span class="glyphicon glyphicon-trash"></span>#}
{#                                </a>#}
{#                            {%- else -%}#}
{#                                <a href="{{ url_for('webui.token', redir=page_name, action='generate') }}">generate</a>#}
{#                            {%- endif -%}#}
{#                        </td>#}
{#                    </tr>#}
                    </tbody>
                </table>
            </div><!-- /.modal-body -->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span> Close
                </button>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal.fade -->
{% endif %}
