[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
flask-wtf = "*"
flask-mail = "*"
flask-security = "*"
flask-restful = "*"
flask-admin = "*"
flask-bootstrap = "*"
flask-cors = "*"
peewee = "*"
wtf-peewee = "*"
psycopg2 = "*"
simplejson = "*"

[dev-packages]
flask-debugtoolbar = "*"
