[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Script = "*"
Flask-WTF = "*"
Flask-Mail = "*"
flask-security = "*"
Flask-RESTful = "*"
Flask-Admin = "*"
Flask-Bootstrap = "*"
Flask-Cors = "*"
peewee = "*"
wtf-peewee = "*"
psycopg2 = "*"
simplejson = "*"

[dev-packages]
Flask-DebugToolbar = "*"
Fabric = "*"
