{% extends "base.html" %}
{% block title %}Links{% endblock %}
{% block content %}
  <div class="ui accordion relaxed divided list">
    {% for link in object_list %}
      <div class="item title">
        <i class="large linkify middle aligned icon"></i>
        <div class="content">
          <a href="{{ link.url }}" target="_blank" class="header">{{ link.title }}</a>
          <div class="description">
            <div>Added {{ link.submit_date }} by {{ link.author.get_full_name|default:link.author.username }}</div>
            <div class="ui label">{{ link.category.name }}</div>
          </div>
        </div>
      </div>
      <div class="item content">{{ link.description }}</div>
    {% endfor %}
  </div>
{% endblock %}
