{% extends "base.html" %}
{% block title %}Links{% endblock %}
{% block content %}
  <ul class="collapsible popout" data-collapsible="accordion">
    {% for link in object_list %}
      <li>
        <div class="collapsible-header valign-wrapper">
          <a class="post-link tooltipped"
             data-delay="100"
             data-tooltip="edit link"
             href="#" data-url="{% url 'edit' link_id=link.id %}">
            <i class="material-icons">edit</i>
          </a>
          <a class="post-link tooltipped"
             data-delay="100"
             data-tooltip="{% if current_page == 'archives' %}un{% endif %}archive link"
             href="#" data-url="{% url 'archive' link_id=link.id %}">
            <i class="material-icons">{% if current_page == 'archives' %}folder_open{% else %}folder{% endif %}</i>
          </a>
          <a class="post-link tooltipped"
             data-delay="100"
             data-tooltip="delete link"
             href="#" data-url="{% url 'delete' link_id=link.id %}">
            <i class="material-icons">delete</i>
          </a>
          <a class="tooltipped"
             data-delay="100" data-tooltip="open in a new tab"
             href="{{ link.url }}" target="_blank">
            {{ link.title }}
          </a>
          &nbsp;<small class="thin">(added by: {{ link.author.get_full_name|default:link.author.username }})</small>&nbsp;
          <div class="chip right-align">{{ link.category.name }}</div>
          {#        <span class="new badge" data-badge-caption="">{{ link.category.name }}</span>#}
        </div>
        <div class="collapsible-body">
          <span>{{ link.description }}</span>
        </div>
      </li>
    {% empty %}
      <h5 class="center-align">No{% if current_page == 'archives' %} archived{% endif %} links</h5>
    {% endfor %}
  </ul>
  <a href="#new-link-modal"
     id="add-link-btn"
     class="btn-floating btn-large waves-effect blue tooltipped modal-trigger"
     data-delay="100"
     data-position="left"
     data-tooltip="add a new link">
    <i class="material-icons">add</i>
  </a>
  {% include 'new_link_modal.html' %}
{% endblock %}
