{% load static %}
<div class="ui menu">
  <a href="#" class="header item"><img src="{% static 'img/waikup-globe.png' %}" alt=""></a>
  {% if user.is_authenticated %}
    <a href="{% url 'index' %}" class="item{% if current_page == 'link_list' %} active{% endif %}">Links</a>
    <a href="{% url 'archives' %}" class="item{% if current_page == 'archives' %} active{% endif %}">Archives</a>
    <div class="right menu">
      <div class="borderless item">
        <button class="ui blue button" id="new-link-btn"><i class="middle aligned plus circle icon"></i>New Link</button>
      </div>
      <div class="ui input item">
        <input type="text" class="prompt" placeholder="Search links">
        <a href="#">&nbsp;<i class="search icon"></i></a>
      </div>
      <div class="ui dropdown item">
        <img src="{{ gravatar }}" alt="gravatar" class="ui avatar image"> {{ user.get_full_name|default:user.username }}
        <i class="dropdown icon"></i>
        <div class="menu">
          {% if user.is_staff %}
            <a href="{% url 'admin:index' %}" class="item">Administration</a>
            <div class="divider"></div>
          {% endif %}
          <a href="#" class="item" id="profile-link">Profile</a>
          <a href="{% url 'logout' %}" class="item">Log out</a>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% include 'new_link_modal.html' %}
{% include 'profile_modal.html' %}
