Bonjour,
<br/><br/>
Voici les liens sélectionnés par les consultants durant la semaine dernière:
<br/>
<ol>
{% for link in links %}
    <li><strong>{{ link.title|title }}</strong> - <a href="{{ link.url }}">{{ link.url }}</a></li>
    <p>{{ link.description }}</p>
{% endfor %}
</ol>
<br/>
Bonne lecture!
<br/><br/>
