Bonjour,
<br/><br/>
Voici les derniers liens sélectionnés par les consultants:
<br/>
<ol>
  {% for link in links %}
    <li>
      [{{ link.category.name }}] <a href="{{ link.url }}"><strong>{{ link.title }}</strong></a>
      ({{ link.author.full_name }})
    </li>
    <p>{{ link.description }}</p>
  {% endfor %}
</ol>
<br/>
Bonne lecture!
<br/><br/>
