Hello,
<br/><br/>
{% if links %}
Here are the latest selected links:
<br/>
<ol>
  {% for link in links %}
    <li>
      [{{ link.category.name }}] <a href="{{ link.url }}"><strong>{{ link.title }}</strong></a>
      ({{ link.author.full_name }})
    </li>
    <p>{{ link.description }}</p>
  {% endfor %}
</ol>
<br/>
Happy reading!<br/>
{% else %}
Hello,

There are no new links this time, sorry.
Feel free to contribute!
{% endif %}
<br/><br/>
