Bonjour,
<br/><br/>
Voici les derniers liens sélectionnés par les consultants:
<br/>
<ol>
{% for link in links %}
    <li>
        [{{ link.category.name }}]&nbsp;
        <strong>{{ link.title|title }}</strong> - <a href="{{ link.url }}">{{ link.url }}</a>&nbsp;
        ({{ link.author.first_name }} {{ link.author.last_name }})</li>
    <p>{{ link.description }}</p>
{% endfor %}
</ol>
<br/>
Bonne lecture!
<br/><br/>
