{% if links %}
Hello,

Here are the latest selected links:

{% for link in links %}
  {{ loop.index }}. [{{ link.category.name }}] {{ link.title|title }} - {{ link.url }} ({{ link.author.full_name }})

  {{ link.description }}

{% endfor %}

Happy reading!
{% else %}
Hello,

There are no new links this time, sorry.
Feel free to contribute!
{% endif %}
