{% if links %}
Bonjour,

Voici les liens sélectionnés par les consultants durant la semaine dernière:

{% for link in links %}
  {{ loop.index }}. [{{ link.category.name }}] {{ link.title|title|safe }} - {{ link.url }} ({{ link.author.full_name }}
  )
  -> {{ link.description|safe }}
{% endfor %}

Bonne lecture!
{% else %}
Bonjour,

Cette semaine, aucun mail n'a été sélectionné par les consultants.
N'hésitez pas à contribuer!

Bonne journée.
{% endif %}
