@font-face {
    font-family: 'chintzy';
    src: url(../fonts/chintzy.ttf);
}
body {
    padding-top: 70px;
    padding-bottom: 40px;
}
.navbar-brand {
    font-family: 'chintzy';
    font-size: 200%;
}
#login-form {
    text-align: center;
}
.underline {
    text-decoration: underline;
}
