@font-face {
    font-family: 'chintzy';
    src: url(../fonts/neuropol.ttf);
}
body {
    padding-top: 70px;
    padding-bottom: 40px;
}
.navbar-brand {
    font-family: 'chintzy',serif;
    font-size: 200%;
}
#navbar-search-form {
    margin-right: 5px;
}
#login-form {
    text-align: center;
}
.underline {
    text-decoration: underline;
}
#collapsible-td {
    padding: 0 20px 0 20px;
}
table#links-list>tbody>tr>td,
table#user-profile>tbody>tr>td {
    border: 0;
}
.expand-all,
.collapse-all {
    color: #000000;
}
a.link-action:hover {
    text-decoration: none;
}
table#links-list>tbody>tr:nth-child(even) {
    border-bottom: 1px solid lightgray;
}
.pagination {
    padding-left: 25%;
    margin-top: 0;
}
