{% extends "base.html" %}

{% from 'macros/bootstrap.html' import with_errors %}

{% block title %}Log in{% endblock %}

{% block content %}
  <form id="login-form" method="post" action="">
    <input type="hidden" name="next" value="{{ next }}"/>
    {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>

        <div class="input">
          {% set css_class = 'span6 ' %}
          {% if field.errors %}
            {% set css_class = 'error ' + css_class %}
          {% endif %}
          {{ field(class=css_class) }}
          {% if field.description %}<span class="help-block">{{ field.description|safe() }}</span>{% endif %}
          {% for error in field.errors %}<span class="help-block"><strong>{{ error }}</strong></span>{% endfor %}
        </div>
        <!-- /.input -->
      </div><!-- /.form-group{% if field.errors %}.has-error{% endif %} -->
    {% endfor %}
    <br>

    <div class="actions">
      <button class="btn btn-primary" type="submit">Log in</button>
    </div>
    <!-- /.actions -->
  </form>
{% endblock %}
